.profile-card-frame {
	min-height: 3.35em;
	border: 2px solid black;
	border-radius: 30px;
	box-shadow: 8px 8px 4px silver;
}

.profile-card-frame-can-select:hover {
	cursor: pointer;
	border: 4px solid black;
}

.profile-card-name, .profile-card-avatar, .profile-card-action-button {
	text-align: center;
	margin: auto;
}

.profile-card-avatar img {
	height: 2.7em;
	width: 2.7em;
	border-radius: 50%;
}

.profile-card-name {
	font-weight: bold;
	font-style: italic;
	color: black;
	overflow: hidden;
}

