<div class="row profile-card-profile-frame" [ngClass]="getBackgroundClass()" (click)="select()">

    <!-- image -->
    <div class="profile-card-avatar" [ngClass]="{'col-3': showIcons(), 'col-2': !showIcons()}">
        <img src="{{ getFluxForImg() }}" />
    </div>

    <!-- name -->
    <div class="profile-card-name font-size-normal" [ngClass]="{'col-6': showIcons(), 'col-8': !showIcons()}">{{profile.name}}</div>

    <!-- update/delete/select icons -->
    <div *ngIf="showIcons()" class="col-3 profile-card-action-button">
        <div>
            <fa-icon-custom *ngIf="canEdit" [icon]="faEdit" [tooltip]="'PROFILE.CARD.EDIT_TOOLTIP'" (click)="edit()"></fa-icon-custom>
            <fa-icon-custom *ngIf="canEdit" [icon]="faTrashAlt" [tooltip]="'PROFILE.CARD.DELETE_TOOLTIP'" (click)="delete()"></fa-icon-custom>
            <fa-icon-custom *ngIf="canDeselect" [icon]="faTimes" [tooltip]="'PROFILE.CARD.DESELECT_TOOLTIP'" (click)="onDeselect.emit()"></fa-icon-custom>
        </div>
    </div>

</div>