<div class="row profile-card-profile-frame" [ngClass]="getBackgroundClass()">

    <div class="profile-card-avatar" [ngClass]="{'col-3': canUpdate, 'col-2': !canUpdate}">
        <img src="{{ getFluxForImg() }}" />
    </div>

    <div class="profile-card-name" [ngClass]="{'col-6': canUpdate, 'col-8': !canUpdate}">{{profile.name}}</div>

    <div *ngIf="canUpdate" class="col-3 profile-card-action-button">
        <div>
            <fa-icon-custom [icon]="faEdit" [tooltip]="'PROFILE.CARD.EDIT_TOOLTIP'" (click)="edit()"></fa-icon-custom>
            <fa-icon-custom [icon]="faTrashAlt" [tooltip]="'PROFILE.CARD.DELETE_TOOLTIP'" (click)="delete()"></fa-icon-custom>
        </div>
    </div>

</div>