<!-- modal header -->
<div class="row profile-page-modal-header">
	<div class="col modal-title">{{ 'PROFILE.PAGE_MODAL.TITLE' | translate }}</div>
</div>


<!-- modal body -->
<div class="row profile-page-modal-body">
	<div class="col">
		<profile-page [profilesPerPage]="profilePerPage" [canEdit]="false" [canSelect]="true" (onSelect)="onSelect.emit($event)"></profile-page>
	</div>
</div>


<!-- modal footer -->
<div class="row justify-content-center profile-page-modal-footer">
	<div class="col">
		<button class="btn btn-info font-size-normal" (click)="close()">{{ 'COMMON.CLOSE' | translate }}</button>
	</div>
</div>
