<div class="container-fluid graph-frame">

    <div class="row">
        <div class="col graph-title">{{ 'STATISTICS.CATEGORIES.FOUND_MUSICS_BY_THEME.GRAPH_TITLE_PERCENTAGE' | translate }}</div>
    </div>

    <div class="row">
        <div class="graph-content">
            <ngx-charts-bar-horizontal-stacked class="chart-container"
                                               [animations]="true"
                                               [results]="stackedPercentages"
                                               [scheme]="colorScheme"
                                               [showXAxisLabel]="true"
                                               [tooltipDisabled]="false"
                                               [xAxis]="true"
                                               [xScaleMax]="getMaximum()"
                                               [yAxis]="true"
                                               [legend]="true"
                                               [legendTitle]="''"
                                               [legendPosition]="'right'">
            </ngx-charts-bar-horizontal-stacked>
        </div>
    </div>

</div>