<div class="row player-card-frame" [ngClass]="{'justify-content-start': rankOnRight, 'justify-content-end': !rankOnRight}">

    <!-- rank -->
    <div *ngIf="!rankOnRight && showIcon()" class="col-3 p-0 font-size-normal player-card-rank">
        <fa-icon *ngIf="showPoop()" [icon]="faPoo" class="player-card-rank-poop" ngbTooltip="{{ 'RANK.LAST' | translate }}" placement="bottom auto" size="2x"></fa-icon>
        <fa-icon *ngIf="showCookie()" [icon]="faCookieBite" class="player-card-rank-chocolate" ngbTooltip="{{ 'RANK.FOURTH' | translate }}" placement="bottom auto" size="2x"></fa-icon>
        <fa-icon *ngIf="showMedal()" [icon]="faMedal" [ngClass]="getMedalStyle()" ngbTooltip="{{ getMedalTooltip() }}" placement="bottom auto" size="2x"></fa-icon>
    </div>

    <!-- score -->
    <div *ngIf="!rankOnRight" class="col-3 p-0 font-size-normal player-card-score">
        <ng2-odometer [number]="player.score" [format]="'( ddd)'"></ng2-odometer>
    </div>



    <!-- profile -->
    <profile-card class="col-6 player-card-profile-card" [profile]="player.profile" [canEdit]="false" [canSelect]="false" [canDeselect]="false"></profile-card>



    <!-- score -->
    <div *ngIf="rankOnRight" class="col-3 p-0 font-size-normal player-card-score">
        <ng2-odometer [number]="player.score" [format]="'( ddd)'"></ng2-odometer>
    </div>

    <!-- rank -->
    <div *ngIf="rankOnRight && showIcon()" class="col-3 p-0 font-size-normal player-card-rank">
        <fa-icon *ngIf="showMedal()" [icon]="faMedal" [ngClass]="getMedalStyle()" ngbTooltip="{{ getMedalTooltip() }}" placement="bottom auto" size="2x"></fa-icon>
        <fa-icon *ngIf="showCookie()" [icon]="faCookieBite" class="player-card-rank-chocolate" ngbTooltip="{{ 'RANK.FOURTH' | translate }}" placement="bottom auto" size="2x"></fa-icon>
        <fa-icon *ngIf="showPoop()" [icon]="faPoo" class="player-card-rank-poop" ngbTooltip="{{ 'RANK.LAST' | translate }}" placement="bottom auto" size="2x"></fa-icon>
    </div>

</div>

