<!-- modal header -->
<div class="row profile-edit-header">
	<div *ngIf="create" class="col modal-title">{{ 'PROFILE.EDIT_MODAL.CREATION_TITLE' | translate }}</div>
	<div *ngIf="!create" class="col modal-title">{{ 'PROFILE.EDIT_MODAL.UPDATE_TITLE' | translate }}</div>
</div>

<!-- modal body -->
<div class="row profile-edit-body">
	<div class="col">
		
		<!-- name -->
		<div class="row profile-edit-name">
			<div class="col-4 font-size-normal">{{ 'PROFILE.EDIT_MODAL.NAME_LABEL' | translate }}</div>
			<div class="col-8">
				<input class="form-control font-size-normal" [(ngModel)]="newProfile.name"
					   (change)="newProfile.name = newProfile.name.trim()"
					   placeholder="{{ 'PROFILE.EDIT_MODAL.NAME_PLACE_HOLDER' | translate }}" maxlength="15">
			</div>
		</div>
		
		<!-- background -->
		<div class="row profile-edit-backgrounds">
			<div class="col-4 font-size-normal">{{ 'PROFILE.EDIT_MODAL.BACKGROUND_LABEL' | translate }}</div>
			<div class="col-8">
				<input class="profile-edit-background box-shadow" [(colorPicker)]="newProfile.background" [style.background]="newProfile.background">
			</div>
		</div>
		
		<!-- avatar -->
		<div class="row profile-edit-avatar">
			<div class="col-4 font-size-normal">{{ 'PROFILE.EDIT_MODAL.AVATAR_LABEL' | translate }}</div>
			<div class="col-8"><img src="{{ getImgFromAvatar(newProfile.avatar) }}"/></div>
		</div>
		
		<!-- avatars page -->
		<div *ngIf="showAvatars">
			<!-- 1st line -> filter input ; pagination -->
			<div class="row justify-content-center profile-edit-avatar-line-one">
				<div class="col-6">
					<input class="form-control font-size-normal" [(ngModel)]="searchName" placeholder="{{ 'COMMON.SEARCH' | translate }}"
						   (ngModelChange)="loadAvatars(1)" maxlength="15">
				</div>
				<div *ngIf="showPageable" class="col-6">
					<ngb-pagination class="d-flex justify-content-center font-size-normal" [ellipses]="false" [rotate]="true"
									[collectionSize]="avatarsPage.totalElements" [pageSize]="avatarsPage.size" [maxSize]="3"
									(pageChange)="loadAvatars($event)">
					</ngb-pagination>
				</div>
			</div>
			
			<!-- avatars page -->
			<div class="row justify-content-center profile-edit-avatars">
				<img *ngFor="let avatar of avatarsPage.content" src="{{ getImgFromAvatar(avatar) }}" (click)="selectAvatar(avatar)"/>
			</div>
		</div>
	
	</div>
</div>

<!-- modal footer -->
<div class="row profile-edit-footer">
	<div class="col">
		<button class="btn btn-success font-size-normal box-shadow" (click)="save()" [disabled]="disabledSave()">{{ 'COMMON.SAVE' | translate }}</button>
		<button class="btn btn-danger font-size-normal box-shadow" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
	</div>
</div>