<div class="row graph-title-center">
    <span class="col graph-title">{{'STATISTICS.CATEGORIES.RATIO_FOUND_LISTENED_MUSICS.GRAPH_TITLE'|translate}}</span>
</div>

<div class="row">
    <ngx-charts-linear-gauge class="chart-container" [view]="view" [scheme]="colorScheme"
                             [value]="totalMusicsFound"
                             [units]="'STATISTICS.CATEGORIES.RATIO_FOUND_LISTENED_MUSICS'|translate"
                             [max]="totalMusicsListened">
    </ngx-charts-linear-gauge>
</div>