####### IDE #######
.idea/
*.iml

####### Gradle #######
**/.gradle/

####### Node #######
frontend/node_modules/

####### Test #######
frontend/out-tsc/

####### Dist #######
delivery/
backend/build/
frontend/dist
conf/dist/
