####### back #######
.idea
.project
.classpath
.settings/
bin/

*.iml

.gradle/
build/
out/

delivery/
logs/
data/

####### front #######

# compiled output
front/dist
/tmp
/out-tsc

# dependencies
front/node_modules

# node / npm
/libs/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
