####### IDE #######
.idea
.project
.classpath
.settings/
bin/
out/

*.iml

####### back #######
.gradle/
build/

delivery/
logs/
data/

####### front #######

# compiled output
front/dist
/tmp
/out-tsc

# dependencies
front/node_modules/*

# node / npm
/libs/

# IDE - VSCode
.vscode/*
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
