<div class="container-fluid container-fluid-forced-marge" @flyInOut>

    <!-- header -->
    <header [title]="'GAME.RESUME_VIEW.TITLE' | translate"></header>

    <!-- resume info -->
    <div class="row">
        <div class="col alert alert-info font-size-normal">{{ 'GAME.RESUME_VIEW.RESUME_INFO' | translate }}</div>
    </div>

    <!-- num game -->
    <div class="row justify-content-center game-resume-view-num-game">
        <div class="col-2">
            <input class="form-control font-size-normal" (keyup.enter)="search()" [(ngModel)]="numGame" placeholder="{{ 'GAME.RESUME_VIEW.GAME_NUM_PLACE_HOLDER' | translate }}">
        </div>
        <div class="col-2">
            <button class="btn btn-info font-size-normal box-shadow" (click)="search()" [disabled]="gameNumIsNaN()">{{ 'GAME.RESUME_VIEW.SEARCH_BUTTON' | translate }}</button>
        </div>
    </div>

    <!-- alert -->
    <div *ngIf="gameNumIsNaN()" class="row">
        <div class="col font-size-normal alert alert-danger">{{ 'GAME.RESUME_VIEW.MUST_BE_POSITIVE_NUMBER' | translate }}</div>
    </div>

</div>