.error-alert-modal-header, .error-alert-modal-body, .error-alert-modal-footer {
    margin: 0.65em;
}

.error-alert-modal-header {
	border-bottom: 1px solid silver;
}

.error-alert-modal-footer {
    border-top: 1px solid silver;
}

.error-alert-modal-footer div {
    text-align: right;
}

.error-alert-modal-footer button {
    margin-top: 10px;
    margin-left: 10px;
}

.error-alert-text {
    margin-top: 0.65em;
    margin-bottom: 1.35em;
}

.error-alert-suggestion {
    margin-bottom: 1.35em;
}

.error-alert-show a:hover {
    color: orangered;
    text-decoration: underline;
    cursor: pointer;
}


.error-alert-causes {
    max-height: 12em;
    overflow: auto;
}

.error-alert-retry {
    text-align: center;
}
