<div class="container" *ngIf="loaded">

<!--    <div class="col-sm-5">-->
<!--        <profile-card class="col-4" [profile]="user" [canEdit]="false" [canSelect]="false" [canDeselect]="false">-->
<!--        </profile-card>-->
<!--    </div>-->

    <div *ngIf="userHasStats">


<!--        <div class="row">-->
<!--            &lt;!&ndash;      Rank chart      &ndash;&gt;-->
<!--            <rank-counter [statistics]="user.statistics" [colorScheme]="colorScheme"></rank-counter>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            &lt;!&ndash;      Listened / found musics ratio      &ndash;&gt;-->
<!--            <found-listened-musics-ratio [statistics]="user.statistics"-->
<!--                                         [colorScheme]="colorScheme"></found-listened-musics-ratio>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            &lt;!&ndash;      Percentage of musics found by theme      &ndash;&gt;-->
<!--            <theme-percentages-view [statistics]="user.statistics" [colorScheme]="colorScheme"></theme-percentages-view>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            &lt;!&ndash;      Number of musics listened to by theme      &ndash;&gt;-->
<!--            <theme-listening-view [statistics]="user.statistics" [colorScheme]="colorScheme"></theme-listening-view>-->
<!--        </div>-->

<!--        <theme-comparison-view [gameStatistics]=""></theme-comparison-view>-->



    </div>


    <div *ngIf="!userHasStats">{{noStatsForUser()}}</div>

</div>