<div *ngIf="isLoaded" class="container-fluid" @flyInOut>

    <!-- header & exit -->
    <div class="row">
        <div class="offset-2 col-8">
            <header [title]="'GAME.END_VIEW.TITLE' | translate"></header>
        </div>
        <div class="col-2 game-end-view-exit">
            <fa-icon [icon]="currentExitIcon" class="fa-icon-custom-hover-2" size="2x" (click)="exit()"
                     (mouseenter)="currentExitIcon=faDoorOpen" (mouseleave)="currentExitIcon=faDoorClosed"
                     matTooltip="{{ 'GAME.END_VIEW.BACK_TO_HOME' | translate }}" matTooltipShowDelay="500">
            </fa-icon>
            <fa-icon *ngIf="musicIsPlaying" class="fa-icon-custom-hover-2" size="2x" [icon]="faVolumeMute" (click)="stopMusic()"
                     matTooltip="{{ 'COMMON.START_MUSIC_TOOLTIP' | translate }}" matTooltipShowDelay="500">
            </fa-icon>
            <fa-icon *ngIf="!musicIsPlaying" class="fa-icon-custom-hover-2" size="2x" [icon]="faMusic" (click)="playMusic()"
                     matTooltip="{{ 'COMMON.STOP_MUSIC_TOOLTIP' | translate }}" matTooltipShowDelay="500">
            </fa-icon>
        </div>
    </div>

    <!-- tabs (rank & stats) -->
    <mat-tab-group mat-stretch-tabs class="" (selectedTabChange)="onChangeTab($event)">

        <mat-tab label="{{ 'GAME.END_VIEW.RANK_TAB_TITLE' | translate }}">
            <end-game-ranks [game]="game"></end-game-ranks>
        </mat-tab>

        <mat-tab label="{{ 'GAME.END_VIEW.STATISTICS_TAB_TITLE' | translate }}">
            <end-game-statistics-view *ngIf="showGraph" [game]="game"></end-game-statistics-view>
        </mat-tab>

    </mat-tab-group>

</div>