<ngx-charts-bar-horizontal class="chart-container" [view]="view"
                           [animations]="true"
                           [legend]="true"
                           [legendPosition]="'below'"
                           [legendTitle]="'STATISTICS.CATEGORIES.FOUND_MUSICS_BY_THEME.LEGEND'|translate"
                           [results]="percentages"
                           [scheme]="colorScheme"
                           [showXAxisLabel]="true"
                           [tooltipDisabled]="false" [xAxis]="true"
                           [xAxisLabel]="'STATISTICS.CATEGORIES.FOUND_MUSICS_BY_THEME.PERCENTAGE'|translate"
                           [xScaleMax]="100"
                           [yAxis]="true" [roundEdges]="false">
</ngx-charts-bar-horizontal>