<div class="container-fluid container-fluid-forced-marge" @flyInOut>

    <!-- header -->
    <header [title]="'GAME.NEW_VIEW.TITLE' | translate"></header>

    <!-- durations -->
    <div class="row game-new-view-part">
        <div class="col-4 game-new-view-label font-size-normal">{{ 'GAME.NEW_VIEW.DURATIONS_LABEL' | translate }}</div>
        <div class="col-8">
            <mat-radio-group class="font-size-normal">
                <mat-radio-button *ngFor="let duration of durations" value="{{ duration }}" color="warn"
                                  (change)="selectedDuration = duration" [checked]="duration === selectedDuration">
                    {{ 'GAME.NEW_VIEW.' + duration | translate }}
                </mat-radio-button>
            </mat-radio-group>

        </div>
    </div>

    <!-- connection mode -->
    <div class="row game-new-view-part">
        <div class="col-4 game-new-view-label font-size-normal">{{ 'GAME.NEW_VIEW.MODE_LABEL' | translate }}</div>
        <div class="col-8">
            <mat-radio-group class="font-size-normal">
                <mat-radio-button *ngFor="let connectionMode of connectionModes" value="{{ connectionMode }}" color="warn"
                                  (change)="selectedConnectionMode = connectionMode" [checked]="connectionMode === selectedConnectionMode">
                    {{ 'GAME.NEW_VIEW.' + connectionMode + '_MODE' | translate }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <!-- themes -->
    <div class="row game-new-view-part">
        <div class="col-4 game-new-view-label font-size-normal">
            <span>{{ 'GAME.NEW_VIEW.THEMES_LABEL' | translate }}</span>
            <fa-icon class="fa-icon-custom-hover-2" [icon]="faQuestionCircle" ngbTooltip="{{ 'GAME.NEW_VIEW.THEMES_HELP' | translate }}"
                     placement="bottom auto" [openDelay]="0">
            </fa-icon>
            <fa-icon class="fa-icon-custom-hover-2" [icon]="faSyncAlt" ngbTooltip="{{ 'GAME.NEW_VIEW.COMPUTE_THEMES_INFO_REFRESH_HELP' | translate }}"
                     placement="bottom auto" [openDelay]="0" (click)="computeThemesInfo()">
            </fa-icon>
        </div>
        <div class="col-8">
            <div *ngFor="let theme of themes" class="game-new-view-themes">
                <div class="game-new-view-theme-info">
                    <img src="{{ theme.srcImg }}" class="game-new-view-theme-info-img" [ngClass]="{ 'game-new-view-inactive': (!themeIsSelected(theme.enumVal)) }"
                         (click)="selectDeselectTheme(theme.enumVal)" ngbTooltip="{{ theme.tooltip | translate }}" placement="bottom auto" [openDelay]="500">
                    <div class="game-new-view-theme-info-percent font-size-very-very-very-small" [ngClass]="{ 'game-new-view-inactive': (!themeIsSelected(theme.enumVal)) }">
                        {{ getNumberOfMusicsInTheme(theme.enumVal) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- effects label -->
    <div class="row game-new-view-part">
        <div class="col-4 game-new-view-label font-size-normal">
            <span>{{ 'GAME.NEW_VIEW.EFFECTS_LABEL' | translate }}</span>
            <fa-icon class="fa-icon-custom-hover-2" [icon]="faQuestionCircle" ngbTooltip="{{ 'GAME.NEW_VIEW.EFFECTS_HELP' | translate }}"
                     placement="bottom auto" [openDelay]="0">
            </fa-icon>
        </div>
        <div class="col-8">
            <img *ngFor="let effect of effects" src="{{ effect.srcImg }}" class="game-new-view-effect-img" [ngClass]="{ 'game-new-view-inactive': (!effectIsSelected(effect.enumVal)) }"
                 (click)="selectDeselectEffect(effect.enumVal)" ngbTooltip="{{ effect.tooltip | translate }}" placement="bottom auto" [openDelay]="500">
        </div>
    </div>

    <!-- players -->
    <div class="row game-new-view-part">
        <div class="col">
            <div class="row">
                <div class="col game-new-view-label font-size-normal">{{ getPlayersLabel() }}</div>
            </div>
            <div class="row">
                <profile-card class="col-3 game-new-view-profile-card" *ngFor="let profile of playersProfiles" [profile]="profile" [canEdit]="false" [canSelect]="false"
                              [canDeselect]="true" (onDeselect)="deselectProfile(profile)">
                </profile-card>
                <profile-card-empty class="col-3 game-new-view-profile-card-empty" *ngFor="let emptyName of getEmptyNames()" [name]="emptyName" (onClick)="selectProfiles()"></profile-card-empty>
            </div>
        </div>
    </div>

    <!-- button -->
    <div class="row justify-content-center game-new-view-launch">
        <div class="col-4">
            <button class="btn btn-info font-size-normal box-shadow" (click)="launchGame()" [disabled]="launchGameIsDisabled()">
                {{ 'GAME.NEW_VIEW.LAUNCH_GAME' | translate }}
            </button>
        </div>
    </div>

</div>