.game-new-view-part {
    padding: 0.5em 0;
    margin: 0.5em 0;
}

.game-new-view-label {
    margin: auto;
    text-decoration: underline;
}

.game-new-view-img {
    height: 6em;
    width: 6em;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 8px 8px 4px silver;
    opacity: 0.3;
}

.game-new-view-img:hover {
    cursor: pointer;
}

.game-new-view-img-active {
    opacity: 1;
}

.game-new-view-launch {
    padding: 1em 0;
    margin: 1em 0;
    text-align: center;
}

.game-new-view-profile-card, .game-new-view-profile-card-empty {
    padding: 10px;
}