<div class="container" @flyInOut>

    <!-- header -->
    <header [title]="'GAME.NEW_VIEW.TITLE' | translate"></header>

    <!-- durations -->
    <div class="row game-new-view-durations">
        <div class="col-3 font-size-normal">{{ 'GAME.NEW_VIEW.DURATIONS_LABEL' | translate }}</div>
        <div class="col-9">
            <div *ngFor="let duration of durations; let i = index" class="custom-control custom-radio custom-control-inline font-size-normal">
                <input [defaultChecked]="duration === selectedDuration" type="radio" class="custom-control-input" id="{{ 'duration_' + i }}"
                       name="durationsRadios" (change)="selectedDuration = duration">
                <label class="custom-control-label" for="{{ 'duration_' + i }}">{{ 'GAME.NEW_VIEW.' + duration | translate }}</label>
            </div>
        </div>
    </div>

    <!-- connection mode -->
    <div class="row game-new-view-online-mode">
        <div class="col-3 font-size-normal">{{ 'GAME.NEW_VIEW.MODE_LABEL' | translate }}</div>
        <div class="col-9">
            <div *ngFor="let connectionMode of connectionModes; let i = index" class="custom-control custom-radio custom-control-inline font-size-normal">
                <input [defaultChecked]="connectionMode === selectedConnectionMode" type="radio" class="custom-control-input" id="{{ 'connectionMode_' + i }}"
                       name="connectionModesRadios" (change)="selectedConnectionMode = connectionMode">
                <label class="custom-control-label" for="{{ 'connectionMode_' + i }}">{{ 'GAME.NEW_VIEW.' + connectionMode + '_MODE' | translate }}</label>
            </div>
        </div>
    </div>

    <!-- themes label -->
    <div class="row">
        <div class="col-3 font-size-normal">{{ 'GAME.NEW_VIEW.THEMES_LABEL' | translate }}</div>
    </div>


    <!-- themes -->
    <div class="row game-new-view-themes">
        <div class="col-1" *ngFor="let theme of themes">
            <img src="{{ theme.srcImg }}" class="game-new-view-themes-img" [ngClass]="{ 'game-new-view-themes-img-active': (themeIsSelected(theme.enumVal)) }" (click)="selectDeselectTheme(theme.enumVal)">
        </div>
    </div>

    <!-- players label -->
    <div class="row">
        <div class="col-3 font-size-normal">{{ 'GAME.NEW_VIEW.PLAYERS_LIST_LABEL' | translate }}</div>
    </div>

    <!-- players -->
    <div class="row">

        <profile-card class="col-4 game-new-view-profile-card" *ngFor="let profile of playersProfiles" [profile]="profile" [canEdit]="false" [canSelect]="false"
                      [canDeselect]="true" (onDeselect)="deselectProfile(profile)">
        </profile-card>

        <profile-card-empty class="col-4 game-new-view-profile-card-empty" *ngFor="let emptyName of getEmptyNames()" [name]="emptyName" (onClick)="selectProfiles()"></profile-card-empty>

    </div>

    <!-- button -->
    <div class="row justify-content-center game-new-view-launch">
        <div class="col-4">
            <button class="btn btn-info font-size-normal box-shadow" (click)="launchGame()" [disabled]="launchGameIsDisabled()">
                {{ 'GAME.NEW_VIEW.LAUNCH_GAME' | translate }}
            </button>
        </div>
    </div>

</div>