<div class="container" @flyInOut>

    <!-- header -->
    <header [title]="'GAME.NEW_VIEW.TITLE' | translate"></header>

    <!-- durations -->
    <div class="row game-new-view-durations">
        <div class="col-3 font-size-normal">{{ 'GAME.NEW_VIEW.DURATIONS_LABEL' | translate }}</div>
        <div class="col-9">
            <div *ngFor="let duration of durations; let i = index" class="custom-control custom-radio custom-control-inline font-size-normal">
                <input [defaultChecked]="duration === selectedDuration" type="radio" class="custom-control-input" id="{{ 'duration_' + i }}"
                       name="durationsRadios" (change)="selectedDuration = duration">
                <label class="custom-control-label" for="{{ 'duration_' + i }}">{{ 'GAME.NEW_VIEW.' + duration | translate }}</label>
            </div>
        </div>
    </div>

    <!-- offline/online mode -->
    <div class="row game-new-view-online-mode">
        <div class="col-3 font-size-normal">{{ 'GAME.NEW_VIEW.MODE_LABEL' | translate }}</div>
        <div class="col-9">
            <div class="custom-control custom-radio custom-control-inline font-size-normal">
                <input [defaultChecked]="selectedOnlineMode" type="radio" class="custom-control-input" id="onlineModeTrue"
                       name="onlineModeRadios" (change)="selectedOnlineMode = true">
                <label class="custom-control-label" for="onlineModeTrue">{{ 'GAME.NEW_VIEW.ONLINE_MODE' | translate }}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline font-size-normal">
                <input [defaultChecked]="!selectedOnlineMode" type="radio" class="custom-control-input" id="onlineModeFalse"
                       name="onlineModeRadios" (change)="selectedOnlineMode = false">
                <label class="custom-control-label" for="onlineModeFalse">{{ 'GAME.NEW_VIEW.OFFLINE_MODE' | translate }}</label>
            </div>
        </div>
    </div>


    <!-- themes -->
    <div class="row game-new-view-themes">
        <div class="col-3 font-size-normal">{{ 'GAME.NEW_VIEW.THEMES_LABEL' | translate }}</div>
        <div class="col-9">
            <div class="row">
                <div class="col" *ngFor="let theme of themes">
                    <img src="{{ theme.srcImg }}" class="game-new-view-themes-img" [ngClass]="{ 'game-new-view-themes-img-active': (themeIsSelected(theme.enumVal)) }" (click)="selectDeselectTheme(theme.enumVal)">
                </div>
            </div>
        </div>
    </div>

    <!-- players label -->
    <div class="row">
        <div class="col-3 font-size-normal">{{ 'GAME.NEW_VIEW.PLAYERS_LIST_LABEL' | translate }}</div>
    </div>

    <!-- players -->
    <div class="row">

        <div class="col-4" *ngFor="let profile of playersProfiles">
            <profile-card [profile]="profile" [canEdit]="false" [canSelect]="false"
                          [canDeselect]="true" (onDeselect)="deselectProfile(profile)">
            </profile-card>
        </div>

        <div class="col-4" *ngFor="let emptyName of getEmptyNames()">
            <profile-card-empty [name]="emptyName" (onClick)="selectProfiles()"></profile-card-empty>
        </div>

    </div>

    <!-- button -->
    <div class="row justify-content-center game-new-view-launch">
        <div class="col-4">
            <button class="btn btn-info font-size-normal" (click)="launchGame()" [disabled]="launchGameIsDisabled()">
                {{ 'GAME.NEW_VIEW.LAUNCH_GAME' | translate }}
            </button>
        </div>
    </div>

</div>