.game-new-view-part {
	padding: 0.3em 0;
	margin: 0.3em 0;
}

.game-new-view-label {
	margin: auto;
	text-decoration: underline;
}

.game-new-view-sub-label {
	color: orangered;
}

.game-new-view-themes {
	display: inline-block;
}

.game-new-view-theme-info {
	margin:  10px 5px 0 5px;
	border-radius: 10px;
	box-shadow: 8px 8px 4px silver;
}

.game-new-view-theme-info-img {
	height: 4em;
	width: 4em;
	border: 1px solid black;
	border-radius: 10px 10px 0 0;
	background-color: white;
}

.game-new-view-effect-img {
	height: 4em;
	width: 4em;
	margin: 5px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	box-shadow: 8px 8px 4px silver;
}

.game-new-view-theme-info-img:hover, .game-new-view-effect-img:hover {
	cursor: pointer;
}

.game-new-view-theme-info-percent {
	background-color: white;
	border: 1px solid black;
	border-top: none;
	border-radius: 0 0 10px 10px;
	text-align: center;
	color: gray;
}

.game-new-view-inactive {
	opacity: 0.2;
}

.game-new-view-forced-inactive {
	cursor: not-allowed !important;
}

.game-new-view-launch {
	padding: 0.65em 0;
	margin: 0.65em 0;
	text-align: center;
}

.game-new-view-profile-card, .game-new-view-profile-card-empty {
	padding: 10px;
}