.music-result-modal-header, .music-result-modal-body, .music-result-modal-footer {
    margin: 1em;
}

.music-result-modal-header {
    border-bottom: 1px solid silver;
}

.music-result-modal-footer {
    border-top: 1px solid silver;
    text-align: center;
}

.music-result-modal-footer button {
    margin-top: 10px;
    margin-left: 10px;
}

.music-result-modal-check-icon {
    color: green;
}

.music-result-modal-cross-icon {
    color: red;
}

.music-result-modal-table {
    width: 100%;
}

.music-result-modal-table th {
    text-align: center;
    height: 4em;
    background-color: #ffc066;
}

.music-result-modal-table td {
    text-align: center;
    height: 2.8em;
}

.music-result-modal-table-odd {
    background-color: #e6e6e6;
}

.music-result-modal-music-name {
    text-align: center;
    font-weight: bold;
}

.music-result-modal-select {
    margin-left: 25%;
    width: 50%;
    height: 75%;
    font-size: 0.7em;
}
