.theme {
    height: 3em;
    width: 10em;
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 5px 10px lightgrey;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
}

.theme:hover {
    box-shadow: 3px 7px 8px grey;
}

.selected-theme {
    background-color: #17a2b8;
    color: white !important;
}

.theme-selection-img {
    height: 6em;
    width: 6em;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 8px 8px 4px silver;
    opacity: 0.3;
}

.theme-selection-img:hover {
    cursor: pointer;
}

.theme-selection-img-active {
    opacity: 1;
}