.profile-card-frame {
	min-height: 3.35em;
	border: 0.15em solid black;
	border-radius: 2em;
	box-shadow: 0.27em 0.27em 0.15em silver;
}

.profile-card-frame-can-select:hover {
	cursor: pointer;
	border: 0.27em solid black;
}

.profile-card-name, .profile-card-avatar, .profile-card-action-button {
	text-align: center;
	margin: auto;
}

.profile-card-avatar img {
	height: 2.7em;
	width: 2.7em;
	border-radius: 50%;
}

.profile-card-name {
	font-weight: bold;
	font-style: italic;
	color: black;
	overflow: hidden;
}

