<nav class="navbar navbar-expand-lg navbar-dark bg-dark font-size-large">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item navbar-menu-logo"> <img src="{{ getLogo() }}"> </li>

            <li class="nav-item" [ngClass]="isActive('/game/new')">
                <a class="nav-link" [routerLink]="'/game/new'">{{ 'GAME.NEW.TITLE' | translate }}</a>
            </li>

            <li class="nav-item" [ngClass]="isActive('/profiles')">
                <a class="nav-link" [routerLink]="'/profiles'">{{ 'PROFILE.VIEW.TITLE' | translate }}</a>
            </li>

        </ul>
    </div>

    <div class="navbar-menu-icons" style="background-color: #17a2b8; border-radius: 50%">
        <fa-icon-custom *ngIf="musicIsPlaying" [icon]="faVolumeMute" [tooltip]="'COMMON.HEADER.START_MUSIC_TOOLTIP'" (click)="stopMusic()"></fa-icon-custom>
        <fa-icon-custom *ngIf="!musicIsPlaying" [icon]="faMusic" [tooltip]="'COMMON.HEADER.STOP_MUSIC_TOOLTIP'" (click)="playMusic()"></fa-icon-custom>
    </div>

</nav>