<div class="row m-0 game-card-frame profile-card-background-0" (click)="onSelect.emit(game.id)">
	<div class="col">
		
		<!-- nb players -->
		<div class="row game-card-line">
			<div class="col">
				<span class="game-card-labels font-size-small">{{ "GAME.GAME_CARD.NB_PLAYERS_LABEL" | translate }}</span>
				<span class="font-size-small">{{ game.players.length }}</span>
				<span class="game-card-icon"><fa-icon class="fa-icon-custom-hover-2" [icon]="faUser" matTooltip="{{ getPlayersNames() }}"matTooltipShowDelay="500" size="2x"></fa-icon></span>
			</div>
		</div>
		
		
		<!-- duration -->
		<div class="row game-card-line">
			<div class="col-4 game-card-labels font-size-small">{{ "GAME.GAME_CARD.DURATION_LABEL" | translate }}</div>
			<div class="col-8 font-size-small">{{ 'DURATION.' + game.duration | translate }}</div>
		</div>
		
		<!-- connectionMode -->
		<div class="row game-card-line">
			<div class="col-4 game-card-labels font-size-small">{{ "GAME.GAME_CARD.CONNECTION_MODE_LABEL" | translate }}</div>
			<div class="col-8 font-size-small">{{ 'CONNECTION_MODE.' + game.connectionMode | translate }}</div>
		</div>
		
		<!-- themes -->
		<div class="row game-card-line">
			<div class="col-4 game-card-labels font-size-small">{{ "GAME.GAME_CARD.THEMES_LABEL" | translate }}</div>
			<div class="col-8">
				<div class="game-card-content-img">
					<img *ngFor="let theme of game.themes" src="{{ getJsonTheme(theme).srcImg }}" class="game-card-img" matTooltip="{{ getJsonTheme(theme).tooltip | translate }}" matTooltipShowDelay="500">
				</div>
			</div>
		</div>
		
		<!-- effects -->
		<div class="row game-card-line">
			<div class="col-4 game-card-labels font-size-small">{{ "GAME.GAME_CARD.EFFECTS_LABEL" | translate }}</div>
			<div class="col-8">
				<div class="game-card-content-img">
					<img *ngFor="let effect of game.effects" src="{{ getJsonEffect(effect).srcImg }}" class="game-card-img" matTooltip="{{ getJsonEffect(effect).tooltip | translate }}" matTooltipShowDelay="500">
				</div>
			</div>
		</div>
		
		<!-- round -->
		<div *ngIf="!game.finished" class="row">
			<div class="col-4 game-card-labels font-size-small">{{ "GAME.GAME_CARD.ROUND_LABEL" | translate }}</div>
			<div class="col-8 font-size-small">{{ 'ROUND.' + game.round + '.NAME' | translate }}</div>
		</div>
		
		<!-- finished game -->
		<div *ngIf="game.finished" class="row game-card-finished-game-line">
			<div class="col font-size-small">{{ 'COMMON.FINISHED_GAME' | translate }}</div>
		</div>
		
	</div>
</div>