<!-- modal header -->
<div class="row round-info-modal-header">
	<div class="col modal-title">{{ 'GAME.ROUND_INFO_MODAL.TITLE' | translate }}</div>
</div>


<!-- modal body -->
<div class="row round-info-modal-body">
	<div class="col">
		
		<div class="row round-info-modal-round-description">
			<div class="col font-size-normal" [innerHTML]="getDescription()"></div>
		</div>
		
		<div class="row alert alert-success">
			<div class="col-8 font-size-normal">{{ 'GAME.ROUND_INFO_MODAL.NB_POINTS_WON' | translate }}</div>
			<div class="col-4 font-size-normal">{{ getNpPointWon() }}</div>
		</div>
		
		<div *ngIf="showNpPointLose()" class="row alert alert-danger">
			<div class="col-8 font-size-normal">{{ 'GAME.ROUND_INFO_MODAL.' + game.round + '_ROUND.NB_POINTS_LOSE' | translate }}</div>
			<div class="col-4 font-size-normal">{{ game.round.nbPointLoose }}</div>
		</div>
		
		<div *ngIf="showNpPointBonus()" class="row alert alert-success">
			<div class="col-8 font-size-normal">{{ 'GAME.ROUND_INFO_MODAL.' + game.round + '_ROUND.NB_POINTS_BONUS' | translate }}</div>
			<div class="col-4 font-size-normal">{{ game.round.nbPointBonus }}</div>
		</div>
		
		<div *ngIf="showNpPointMalus()" class="row alert alert-danger">
			<div class="col-8 font-size-normal">{{ 'GAME.ROUND_INFO_MODAL.' + game.round + '_ROUND.NB_POINTS_MALUS' | translate }}</div>
			<div class="col-4 font-size-normal">{{ game.round.nbPointMalus }}</div>
		</div>
	
	</div>
</div>


<!-- modal footer -->
<div class="row justify-content-center round-info-modal-footer">
	<div class="col">
		<button class="btn btn-info font-size-normal box-shadow" (click)="close()">{{ 'COMMON.CLOSE' | translate }}</button>
	</div>
</div>
