<div *ngIf="isLoaded" class="container-fluid container-fluid-forced-marge" @flyInOut>
	
	<!-- header -->
	<myst-header [title]="'GAME.RESUME_VIEW.TITLE' | translate"></myst-header>
	
	
	<!-- toggle + pagination -->
	<div class="row">
		
		<!-- toggle -->
		<div class="col-4">
			<span class="game-resume-view-toggle-label font-size-normal">{{ 'GAME.RESUME_VIEW.SHOW_FINISHED_GAMES_LABEL' | translate }}</span>
			<mat-slide-toggle [(ngModel)]="showFinishedGames" (change)="loadGames(true)" color="warn"></mat-slide-toggle>
		</div>
		
		<!-- pagination -->
		<div *ngIf="showPageable" class="col-4 d-flex justify-content-center">
			<ngb-pagination class="font-size-normal" [ellipses]="false" [rotate]="true"
							[collectionSize]="gamesPage.totalElements" [pageSize]="gamesPage.size" [maxSize]="5"
							(pageChange)="currentPage = $event; loadGames(false)" [(page)]="currentPage">
			</ngb-pagination>
		</div>
		
	</div>
	
	<!-- cards -->
	<div *ngIf="showGames && !gamesPage.empty" class="row" @opacityTrigger>
		<game-card class="col-4 game-resume-view-game-card" *ngFor="let game of gamesPage.content" [game]="game" (onSelect)="selectGame($event)"></game-card>
	</div>
	
	<!-- no result -->
	<div *ngIf="gamesPage.empty" class="row justify-content-center">
		<div class="col-4 no-result-label font-size-normal alert alert-info">
			<div>{{ 'COMMON.NO_RESULT' | translate }}</div>
		</div>
	</div>
	
</div>
