<div class="end-game-statistics-margin">
    <div class="row justify-content-center">
        <div *ngFor="let result of cardResults" class="col end-game-statistics-margin-bottom-3">
            <div class="row justify-content-center">
                <ng2-odometer class="font-size-normal" [number]="result.value" [format]="'(ddd)'"></ng2-odometer>
            </div>
            <div class="row justify-content-center ">
                <span>{{result.name}}</span>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <theme-comparison-view [gameStatistics]="gameStatistics"></theme-comparison-view>
    </div>
</div>