<div>
    <div class="theme-list">
    <span class="theme" [ngClass]="{'selected-theme': isSelectedTheme(theme)}"
          *ngFor="let theme of availableThemes"
          (click)="selectTheme(theme)">{{'MUSIC_THEMES.' + theme |translate}}</span>
    </div>

    <div class="row theme-comparison-margin-1">
        <div class="col-6">
            <theme-comparison-question-number [theme]="selectedTheme" [statistics]="gameStatistics"
                                              [colorScheme]="colorScheme"></theme-comparison-question-number>
        </div>

        <div class="col-6">
            <theme-comparison-question-detail [theme]="selectedTheme" [statistics]="gameStatistics"
                                              [colorScheme]="colorScheme"></theme-comparison-question-detail>
        </div>
    </div>

</div>