.game-current-view-exit {
    margin: auto auto 2em auto;
}

.game-current-view-players-padding-10 { padding-top: 10%; }
.game-current-view-players-padding-15 { padding-top: 15%; }
.game-current-view-players-padding-20 { padding-top: 20%; }

.game-current-view-next-music, .game-current-view-offline-audio, .game-current-view-online-audio {
    padding-top: 2em;
    text-align: center;
}

.game-current-view-players-opacity {
    opacity: 0.2;
}

.game-current-view-players {
    width: 37%;
    max-width: 37%;
}

.game-current-view-middle {
    width: 26%;
    max-width: 26%;
}