.game-current-view-exit {
    margin: auto auto 2em auto;
}

.game-current-view-next-music, .game-current-view-offline-audio, .game-current-view-online-audio {
    padding-top: 2em;
    text-align: center;
}

.game-current-view-players-opacity {
    opacity: 0.3;
}