<div *ngIf="isLoaded" class="container" @flyInOut>

    <!-- header & exit -->
    <div class="row">
        <div class="col-11">
            <header [title]="getTitle()"></header>
        </div>
        <div class="col-1 game-current-view-exit">
            <fa-icon [icon]="currentExitIcon" size="2x" (click)="exit()" (mouseenter)="currentExitIcon=faDoorOpen" (mouseleave)="currentExitIcon=faDoorClosed"
                     ngbTooltip="{{ 'GAME.CURRENT_VIEW.EXIT' | translate }}" placement="bottom auto" [openDelay]="500"></fa-icon>
        </div>
    </div>

    <!-- theme and effect -->
    <div class="row">

        <!-- theme -->
        <div class="col-3 game-current-view-current-theme-effect">
            <div class="row"><div class="col font-size-normal">{{ 'GAME.CURRENT_VIEW.THEME_LABEL' | translate }}</div></div>
            <div class="row"><div class="col"><img src="{{ currentTheme }}"/></div></div>
        </div>

        <!-- effect -->
        <div class="col-3 game-current-view-current-theme-effect">
            <div class="row"><div class="col font-size-normal">{{ 'GAME.CURRENT_VIEW.EFFECT_LABEL' | translate }}</div></div>
            <div class="row"><div class="col"><img src="{{ currentEffect }}"/></div></div>
        </div>

    </div>

</div>