.theme-effect-frame {
	text-align: center;
}

.theme-effect-frame img {
	height: 5.35em;
	width: 5.35em;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	box-shadow: 8px 8px 4px silver;
}