.theme-effect-frame {
    text-align: center;
}

.theme-effect-frame img {
    height: 8em;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 8px 8px 4px silver;
}