.theme-effect-frame {
	text-align: center;
}

.theme-effect-frame img {
	height: 5.35em;
	width: 5.35em;
	margin: 0.67em;
	border: 0.07em solid black;
	border-radius: 0.67em;
	background-color: white;
	box-shadow: 0.53em 0.53em 0.27em silver;
}