<div *ngIf="show" class="row theme-effect-frame">

    <!-- theme -->
    <div class="col">
        <div class="row"><div class="col font-size-normal">{{ 'GAME.THEME_EFFECT.THEME_LABEL' | translate }}</div></div>
        <div class="row"><div class="col"><img src="{{ themeImg }}"/></div></div>
    </div>

    <!-- effect -->
    <div *ngIf="showEffect" class="col">
        <div class="row"><div class="col font-size-normal">{{ 'GAME.THEME_EFFECT.EFFECT_LABEL' | translate }}</div></div>
        <div class="row"><div class="col"><img src="{{ effectImg }}"/></div></div>
    </div>

</div>
