.theme-list {
    margin-bottom: 30px;
    text-align: center;
}

.theme {
    height: 2em;
    width: 6.7em;
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 5px 10px lightgrey;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
}

.theme:hover {
    box-shadow: 3px 7px 8px grey;
}

.selected-theme {
    background-color: #17a2b8;
    color: white !important;
}