<div class="container" @flyInOut>

    <!-- header -->
    <header [title]="'STATISTICS.TITLE' | translate"></header>

    <button class="btn btn-info font-size-normal" (click)="select()">{{ 'STATISTICS.SELECT_PLAYERS' | translate }}</button>



    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>