<div class="row">
    <!--      Percentage of musics found by theme      -->
    <ngx-charts-bar-horizontal-stacked class="chart-container" [view]="[700, 400]"
                                       [animations]="true"
                                       [legend]="true"
                                       [legendPosition]="'below'"
                                       [legendTitle]="'STATISTICS.CATEGORIES.FOUND_MUSICS_BY_THEME.LEGEND'|translate"
                                       [results]="stackedPercentages"
                                       [scheme]="colorScheme"
                                       [showXAxisLabel]="true"
                                       [tooltipDisabled]="false" [xAxis]="true"
                                       [xAxisLabel]="'STATISTICS.CATEGORIES.FOUND_MUSICS_BY_THEME.PERCENTAGE'|translate"
                                       [xScaleMax]="100"
                                       [yAxis]="true">
    </ngx-charts-bar-horizontal-stacked>
</div>