<div class="profiles-comparison-margin-4">
    <div *ngIf="noThemesAvailable">
        {{'STATISTICS.NO_THEME_AVAILABLE' | translate}}
    </div>

    <div *ngIf="!noThemesAvailable">
        <div class="theme-list">
            <div class="row">
                <div class="col">
                    <span class="theme" [ngClass]="{'selected-theme': isSelectedTheme(theme)}"
                          *ngFor="let theme of availableThemes"
                          (click)="selectTheme(theme)">{{'MUSIC_THEMES.' + theme |translate}}</span>
                </div>
            </div>
        </div>

        <div class="row profiles-comparison-margin-top">
            <div class="col">
                <user-theme-comparison-question-detail [theme]="selectedTheme"
                                                       [players]="selectedUsers"></user-theme-comparison-question-detail>
            </div>
            <div class="col">
                <user-theme-comparison-question-number [theme]="selectedTheme"
                                                       [players]="selectedUsers"></user-theme-comparison-question-number>
            </div>
        </div>
    </div>

</div>