<div class="row profile-card-profile-frame">

    <div class="col profile-card-avatar">
        <img src="{{ getAvatarFluxForImg() }}" />
    </div>

    <div class="col-8 profile-card-name">{{profile.name}}</div>

    <div *ngIf="canUpdate" class="col profile-card-action-button">
        <div>
            <fa-icon-custom [icon]="faEdit" [tooltip]="'PROFIL.CARD.EDIT_TOOLTIP'" (click)="edit()"
            tooltipClass="fa-icon-custom-background"></fa-icon-custom>
        </div>
    </div>

</div>