<div class="row profile-card-profile-frame">

    <div class="profile-card-avatar" [ngClass]="{'col-3': canUpdate, 'col-2': !canUpdate}">
        <img src="{{ getAvatarFluxForImg() }}" />
    </div>

    <div class="profile-card-name"
        [ngClass]="{'col-6': canUpdate, 'col-8': !canUpdate}">{{profile.name}}</div>

    <div *ngIf="canUpdate" class="col-3 profile-card-action-button">
        <div>
            <fa-icon-custom [icon]="faEdit" [tooltip]="'PROFIL.CARD.EDIT_TOOLTIP'" (click)="edit()"
            tooltipClass="fa-icon-custom-background"></fa-icon-custom>
        </div>
    </div>

</div>