.profileCard {
    min-height: 5em;
    border: 1px solid slategray;
    border-radius: 30px;
    background: url("/assets/images/avatar/background.png") center center no-repeat;
}

.name, .action-button {
    text-align: center;
    margin: auto;
}

.name {
    font-family: Georgia, Times, serif;
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    color: cadetblue;
}

.edit-button:hover, .remove-button:hover {
    cursor: pointer;
    color: whitesmoke;
}

