.profile-card-profile-frame {
    min-height: 5em;
    border: 1px solid slategray;
    border-radius: 30px;
    background: url("/assets/images/avatar/background.png") center center no-repeat;
}

.profile-card-name, .profile-card-avatar, .profile-card-action-button {
    text-align: center;
    margin: auto;
}

.profile-card-avatar img {
    height: 3em;
    border-radius: 50%;
}

.profile-card-name {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    color: cadetblue;
}

