<div class="container-fluid-forced-marge" @flyInOut *ngIf="!isLoading">

    <header [title]="'STATISTICS.TITLE' | translate"></header>

    <!--    maxSelectedItems="12"-->

    <div class="row justify-content-center">
        <div class="col-4">
            <ng-select
                    placeholder="Sélectionner des utilisateurs"
                    (change)="getPlayersStatistics()"
                    [items]="users"
                    [multiple]="true"
                    bindLabel="name"
                    notFoundText="{{'COMMON.USER_SEARCH.NO_USERS_FOUND'|translate}}"
                    [closeOnSelect]="false"
                    [(ngModel)]="selectedUsers">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/>
                    <img class="example-option-img" aria-hidden [src]="getFluxForImg(item)" height="25">
                    {{item.name}}
                </ng-template>
            </ng-select>
        </div>
    </div>

    <div class="row" *ngIf="isLoaded">
        <div class="col">
            <profiles-comparison-view [selectedUsers]="selectedUsers"></profiles-comparison-view>
        </div>
    </div>

</div>