<ngx-charts-bar-horizontal class="chart-container" [view]="[700, 400]"
                           [animations]="true"
                           [results]="questionsAnswered"
                           [scheme]="colorScheme"
                           [showXAxisLabel]="true"
                           [tooltipDisabled]="false" [xAxis]="true"
                           [xAxisLabel]="'STATISTICS.CATEGORIES.LISTENED_MUSICS_BY_THEME.NUMBER_LISTENED_MUSICS_BY_THEME'|translate"
                           [xScaleMax]="maxCount"
                           [yAxis]="true"
                           [roundEdges]="false">
</ngx-charts-bar-horizontal>