.profile-card-empty-frame {
	text-align: center;
	min-height: 3.35em;
	border: 0.15em dashed darkgray;
	border-radius: 2em;
	color: darkgray;
}

.profile-card-empty-frame:hover {
	border: 0.15em solid black;
	color: black;
	cursor: pointer;
}

.profile-card-empty-name {
	text-align: center;
	margin: auto;
	font-style: italic;
}
