<div *ngIf="isLoaded" class="container-fluid">

	<!-- clientId -->
	<div class="row spotify-param-view-part">
		<div class="offset-2 col-2 spotify-param-view-label font-size-normal">{{ 'PARAMS_VIEW.SPOTIFY_PARAM_VIEW.CLIENT_ID' | translate }}</div>
		<div class="col-5 spotify-param-view-no-padding">
			<input class="form-control font-size-normal" [(ngModel)]="spotifyParams.clientId">
		</div>
	</div>
	
	<!-- clientSecret -->
	<div class="row spotify-param-view-part">
		<div class="offset-2 col-2 spotify-param-view-label font-size-normal">{{ 'PARAMS_VIEW.SPOTIFY_PARAM_VIEW.CLIENT_SECRET' | translate }}</div>
		<div class="col-5 input-group box-shadow spotify-param-view-no-padding">
			<input class="form-control font-size-normal no-box-shadow" [(ngModel)]="spotifyParams.clientSecret" type="{{ getClientSecretType() }}">
			<div class="input-group-append">
				<fa-icon class="input-group-text" [icon]="getClientSecretIcon()" (click)="isHide = !isHide" size="2x"></fa-icon>
			</div>
		</div>
	</div>
	
	
	
	<!-- themes -->
	<div class="row spotify-param-view-part">
		
		<!-- left column theme -->
		<div class="col">
			<div *ngFor="let theme of getSubListThemes(true)" class="row">
				<div class="col-3 spotify-param-view-theme">
					<img src="{{ theme.srcImg }}" class="spotify-param-view-theme-img" matTooltip="{{ theme.tooltip | translate }}" matTooltipShowDelay="500">
				</div>
				<div class="col-7 spotify-param-view-no-padding">
					<input class="form-control font-size-normal" [(ngModel)]="spotifyParams.playlistIds[theme.enumVal]">
				</div>
			</div>
		</div>
		
		<!-- right column theme -->
		<div class="col">
			<div *ngFor="let theme of getSubListThemes(false)" class="row">
				<div class="col-3 spotify-param-view-theme">
					<img src="{{ theme.srcImg }}" class="spotify-param-view-theme-img" matTooltip="{{ theme.tooltip | translate }}" matTooltipShowDelay="500">
				</div>
				<div class="col-7 spotify-param-view-no-padding">
					<input class="form-control font-size-normal" [(ngModel)]="spotifyParams.playlistIds[theme.enumVal]">
				</div>
			</div>
		</div>
	
	</div>

    <!-- remember record -->
    <div *ngIf="spotifyParamWasModified()" class="row spotify-param-view-part">
        <div class="col spotify-param-view-remember-record font-size-large">{{ 'COMMON.REMEMBER_TO_RECORD' | translate }}</div>
    </div>

	<!-- button -->
	<div class="row spotify-param-view-buttons">
		<div class="col-12">
			<button class="btn btn-success font-size-normal box-shadow" (click)="save()" [disabled]="!spotifyParamWasModified()">{{ 'COMMON.SAVE' | translate }} </button>
			<button class="btn btn-info font-size-normal box-shadow" (click)="connectionTest()">{{ 'PARAMS_VIEW.SPOTIFY_PARAM_VIEW.TEST_LABEL' | translate }} </button>
			<button class="btn btn-warning font-size-normal box-shadow" (click)="downloadSpotifyConnectionDoc()">{{ 'COMMON.HELP_DL' | translate }}</button>
		</div>
	</div>

</div>
