.header-frame {
    min-height: 5em;
    margin-bottom: 2em;
    border-bottom: 2px solid silver;
}

.header-title {
    font-style: italic;
    font-weight: bold;

    color: orangered;
    text-shadow: 8px 8px 4px silver;

    text-align: center;
    margin: auto;
}