.profile-edit-header, .profile-edit-body, .profile-edit-footer {
	margin: 1em;
}

.profile-edit-header {
	border-bottom: 1px solid silver;
}

.profile-edit-footer {
	border-top: 1px solid silver;
	text-align: right;
}

.profile-edit-footer button {
	margin-top: 10px;
	margin-left: 10px;
}

.profile-edit-avatar, .profile-edit-name, .profile-edit-backgrounds {
	margin-bottom: 1em;
}

.profile-edit-avatar div, .profile-edit-name div, .profile-edit-backgrounds div {
	margin: auto;
}

.profile-edit-avatar img, .profile-edit-avatars img {
    height: 4em;
	width: 4em;
	border-radius: 50%;
	margin: 10px;
}

.profile-edit-avatars {
	border: 2px solid silver;
	border-radius: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.profile-edit-avatars img {
	cursor: pointer;
}

.profile-edit-background {
	border: 1px solid black;
	border-radius: 30px;
	margin: 10px 5px !important;
	height: 3em;
	opacity: 0.3;
}

.profile-edit-background:hover {
	cursor: pointer;
	opacity: 1;
}

.profile-edit-background-active {
	opacity: 1;
}
