<!-- modal header -->
<div class="row profile-edit-header">
    <div *ngIf="create" class="col modal-title">{{ 'PROFILE.EDIT_MODAL.CREATION_TITLE' | translate }}</div>
    <div *ngIf="!create" class="col modal-title">{{ 'PROFILE.EDIT_MODAL.UPDATE_TITLE' | translate }}</div>
</div>

<!-- modal body -->
<div class="row profile-edit-body">
    <div class="col">

        <!-- name -->
        <div class="row profile-edit-name">
            <div class="col-4 font-size-normal">{{ 'PROFILE.EDIT_MODAL.NAME_LABEL' | translate }}</div>
            <div class="col-8">
                <input class="form-control font-size-normal" [(ngModel)]="newProfile.name"
                       (change)="newProfile.name = newProfile.name.trim()"
                       placeholder="{{ 'PROFILE.EDIT_MODAL.NAME_PLACE_HOLDER' | translate }}" maxlength="15">
            </div>
        </div>

        <!-- background -->
        <div class="row profile-edit-backgrounds">
            <div class="col-4 font-size-normal">{{ 'PROFILE.EDIT_MODAL.BACKGROUND_LABEL' | translate }}</div>
            <div *ngFor="let backgroundId of backgroundIds" class="col profile-edit-background box-shadow" [ngClass]="getBackgroundClass(backgroundId)"
                    (click)="newProfile.background = backgroundId">
            </div>
        </div>

        <!-- avatar -->
        <div class="row profile-edit-avatar">
            <div class="col-4 font-size-normal">{{ 'PROFILE.EDIT_MODAL.AVATAR_LABEL' | translate }}</div>
            <div class="col-8"><img src="{{ getCurrentFluxForImg() }}"/></div>
        </div>

        <!-- avatars page -->
        <div *ngIf="showAvatars">
            <div *ngIf="showPageable">
                <ngb-pagination class="d-flex justify-content-center font-size-normal" [ellipses]="false" [rotate]="true"
                                [collectionSize]="page.totalElements" [pageSize]="page.size" [maxSize]="5" (pageChange)="loadAvatars($event)">
                </ngb-pagination>
            </div>
            <div class="profile-edit-avatars">
                <img *ngFor="let avatar of page.content" src="{{ getFluxForImg(avatar) }}" (click)="selectAvatar(avatar)"/>
            </div>
        </div>

    </div>
</div>

<!-- modal footer -->
<div class="row profile-edit-footer">
    <div class="col">
        <button class="btn btn-success font-size-normal box-shadow" (click)="save()" [disabled]="disabledSave()">{{ 'COMMON.SAVE' | translate }}</button>
        <button class="btn btn-danger font-size-normal box-shadow" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>
</div>