<configuration>
	
	<property name="PATH" value="C:/Users/mouto/Serveurs/tomcat/logs/musics-blindtest"/>
	<property name="LOG_FILE" value="musics-blindtest"/>
	<property name="JPA_LOG_FILE" value="musics-blindtest-query"/>
	
	
	<appender name="LOG_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${PATH}/${LOG_FILE}.log</file>
		
		<encoder>
			<pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${PATH}/archived/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>100MB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
	
	</appender>
	
	<appender name="JPA_LOG_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${PATH}/${JPA_LOG_FILE}.log</file>
		
		<encoder>
			<pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${PATH}/archived/${JPA_LOG_FILE}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>100MB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
	
	</appender>
	
	
	<logger name="com.myssteriion" level="DEBUG" additivity="false">
		<appender-ref ref="LOG_FILE_APPENDER"/>
	</logger>
	
	<logger name="com.myssteriion.blindtest.BlindtestApplication" level="INFO" additivity="false">
		<appender-ref ref="LOG_FILE_APPENDER"/>
	</logger>
	
	<logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
		<appender-ref ref="JPA_LOG_FILE_APPENDER"/>
	</logger>
	
	<logger name="org.hibernate.type.descriptor.sql" level="TRACE" additivity="false">
		<appender-ref ref="JPA_LOG_FILE_APPENDER"/>
	</logger>
	
	
	<root level="WARN">
		<appender-ref ref="LOG_FILE_APPENDER"/>
	</root>

</configuration>