$color-theme: orangered;



html {
	cursor: url(assets/images/icons/default.svg) 6 0, default;
}

body {
	background: url("assets/images/background/background.png") no-repeat center center fixed;
	background-size: cover;
	overflow-x: hidden;
}

.no-result-label {
	text-align: center;
	font-style: italic;
}

.mat-checkbox .mat-checkbox-frame, .mat-checkbox-checked .mat-checkbox-background {
	transform: scale(1);
}


/****************** nav ******************/
.navbar-menu-theme {
	background-color: #343a40;
}

.sticky-top {
	z-index: 2;
}

/****************** tabs ******************/
.mat-tab-label {
	font-size: 1.6em;
}

.mat-tab-body {
	padding-top: 1.65em;
}

/****************** icon ******************/
.fa-icon-custom-hover-orangered:hover {
	color: $color-theme;
}

/*************** graphs ***************/
.graph-frame {
	background-color: #f2f2f2;
	border: 0.07em solid black;
	border-radius: 1.35em;
}

.graph-frame .graph-title {
	font-weight: bold;
	margin: auto;
	text-align: center;
	font-size: 0.8em;
	padding: 0.65em;

	background-color: #cbc7cc;
	border-bottom: 0.07em solid black;
	border-top-left-radius: 1.35em;
	border-top-right-radius: 1.35em;
}

.graph-frame .graph-content {
	height: 14.75em;
}

.graph-frame g text {
	font-size: 0.8em !important;
}

/*************** table ***************/
.container-table table th {
	background-color: #ffc066 !important;
}



/*************** utils ***************/
.header-title, .modal-title, .inner-html-special-text {
	color: $color-theme !important;
}
