/* You can add global styles to this file, and also import other style files */
* {
    font-family: Georgia, serif;
}

button:disabled {
    cursor: not-allowed;
}

body {
    background-color: #F2F2F2;
}

.pagination .page-item .page-link {
    border-radius: 0 !important;
}

.pagination .active .page-link {
    background-color: #138496;
    border-color: #17a2b8;
    color: white;
}

.pagination .page-link {
    color: #138496;
    border-color: #17a2b8;
}

.no-result-label {
    text-align: center;
    font-style: italic;
}

.font-size-small { font-size: 0.9em; }
.font-size-normal { font-size: 1.3em; }
.font-size-large { font-size: 1.4em; }
.font-size-modal-title { font-size: 1.8em; }
.font-size-title { font-size: 3em; }


/****************** icon ******************/
fa-icon {
    padding: 5px;
}

fa-icon:hover {
    cursor: pointer;
}

.fa-icon-custom-hover-1:hover {
    color: #eeeeee;
}
/****************** icon ******************/

/*************** background ***************/

.profile-card-background-0 {
    background: radial-gradient(seashell, silver);
}

.profile-card-background-1 {
    background: radial-gradient(skyblue, dodgerblue);
}

.profile-card-background-2 {
    background: radial-gradient(pink, hotpink);
}

.profile-card-background-3 {
    background: radial-gradient(yellow, orangered);
}

.profile-card-background-4 {
    background: radial-gradient(yellowgreen, green);
}

/*************** background ***************/