/* You can add global styles to this file, and also import other style files */
* {
    font-family: Georgia, serif;
}

input, .pagination, .alert, .box-shadow {
    box-shadow: 8px 8px 4px silver;
}

button:disabled {
    cursor: not-allowed;
}

html {
    min-height: 100%;
    cursor: url(assets/images/icons/default.svg) 6 0, default;
}

body {
    background: url("assets/images/background/background.png") no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

mat-radio-button {
    padding-right: 1em;
}

.container-fluid-forced-marge {
    padding-left: 10em;
    padding-right: 10em;
}

.pagination .page-item .page-link {
    border-radius: 0 !important;
}

.pagination .active .page-link {
    background-color: #138496;
    border-color: #17a2b8;
    color: white;
}

.pagination .page-link {
    color: #138496;
    border-color: #17a2b8;
}

.no-result-label {
    text-align: center;
    font-style: italic;
}

.mat-checkbox .mat-checkbox-frame, .mat-checkbox-checked .mat-checkbox-background {
    transform: scale(1.5);
}

.inner-html-special-text {
    color: orangered;
    font-style: italic;
    font-weight: bold;
}

.font-size-very-very-small { font-size: 1.2em; }
.font-size-very-small, .toast-container { font-size: 1.6em; }
.font-size-small { font-size: 1.8em; }
.font-size-normal { font-size: 2.0em; }
.font-size-large { font-size: 2.4em; }
.font-size-title { font-size: 3.7em; }

.modal-title {
    font-size: 2.6em;
    color: orangered;
}

.tooltip {
    font-size: 1.4rem;
}

.padding-bottom-1em {
    padding-bottom: 1em;
}


/****************** tabs ******************/
.mat-tab-label {
    font-size: 2.4em;
}

.mat-tab-body {
    padding-top: 2em;
}

/****************** icon ******************/
fa-icon {
    padding: 5px;
}

fa-icon:hover {
    cursor: pointer;
}

.fa-icon-custom-hover-1:hover {
    color: #eeeeee;
}

.fa-icon-custom-hover-2:hover {
    color: orangered;
}

/*************** background ***************/
.profile-card-background-0 {
    background: radial-gradient(seashell, silver);
}

.profile-card-background-1 {
    background: radial-gradient(skyblue, dodgerblue);
}

.profile-card-background-2 {
    background: radial-gradient(pink, hotpink);
}

.profile-card-background-3 {
    background: radial-gradient(yellow, orangered);
}

.profile-card-background-4 {
    background: radial-gradient(yellowgreen, green);
}

/*************** graphs ***************/
.graph-frame {
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 20px;
}

.graph-frame .graph-title {
    font-weight: bold;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    padding: 1em;

    background-color: #cbc7cc;
    border-bottom: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.graph-frame .graph-content {
    height: 22em;
    margin: auto;
    margin-right: 3em;
}

.graph-frame g text {
    font-size: 1.2em !important;
}
