.profiles-statistics-view-margin-top-1 {
    margin-top: 0.65em;
}

.profiles-statistics-view-margin-top-4 {
    margin-top: 2.7em;
}

.profiles-statistics-view-side-2 {
    margin-left: 1.35em;
    margin-right: 1.35em;
}

.profiles-statistics-view-margin-bottom-5 {
    margin-bottom: 3.35em;
}

.profiles-statistics-margin-top-3 {
    margin-top: 2em;
}

.profiles-statistics-view-width100 {
    width: 100%;
}