.custom-countdown-frame {
    text-align: center;
    color: #17a2b8;
    text-shadow: 2px 0 0 #555, 0 2px 0 #555, -2px 0 0 #555, 0 -2px 0 #555, 2px 2px 0 #555, -2px -2px 0 #555, 2px -2px 0 #555, -2px 2px 0 #555;
    font-weight: bold;
    font-size: 5em;
}