.theme-list {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.profiles-comparison-margin-top {
    margin-top: 3.3em;
}

.profiles-comparison-margin-4 {
    margin: 0 2.7em 0 2.7em;
}