.round-info-modal-header, .round-info-modal-body, .round-info-modal-footer {
	margin: 1em;
}

.round-info-modal-header {
	border-bottom: 1px solid silver;
}

.round-info-modal-footer {
	border-top: 1px solid silver;
	text-align: center;
}

.round-info-modal-footer button {
	margin-top: 10px;
	margin-left: 10px;
}

.round-info-modal-round-description, .round-info-modal-round-nb-point-won {
	padding-bottom: 2em;
	text-align: justify;
}
