.profile-card-empty-frame {
    text-align: center;
    min-height: 5em;
    border: 2px dashed darkgray;
    border-radius: 30px;
    color: darkgray;
}

.profile-card-empty-frame:hover {
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

.profile-card-empty-name {
    text-align: center;
    margin: auto;
    font-style: italic;
}
