.home-view-logo {
    margin: auto;
    text-align: center;
}

.home-view-logo img {
    height: 9em;
}

.home-view-link {
    text-align: center;
    border: 2px solid #ffb500;
    border-radius: 20px;
    margin: 0.5em auto;
    padding: 1em;
    background: radial-gradient(#ffe300, #ffb500);
    box-shadow: 8px 8px 4px silver;
}

.home-view-link:hover {
    border: 2px solid black;
    cursor: pointer;
}
