.home-view-logo {
	margin: auto;
	text-align: center;
}

.home-view-logo img {
	height: 7em;
}

.home-view-link {
	text-align: center;
	margin-top: 8%;
	color: #ffb500;
}

.home-view-link:hover {
	cursor: pointer;
	color: orangered;
}
